.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  width: 80px;
  height: 80px 
}
.hero{
  width : 100%
}
.herobox {
  width: 0 rem;
}

.box {
  background-color: lightgrey;
  width: 30%;
  height: 250px;
  border-radius: 10pt;
  border: 2px solid white;
  align-content: center;
  font-weight: bold;
}

.box1 {
  width: 30%;
  height: 250px;
  border-radius: 10pt;
  border: 2px solid white;
  font-weight: bold;
  align-content: center;
}

.boxr {
  background-color: lightgrey;
  width: 100%;
  height: 250px;
  border-radius: 10pt;
  border: 2px solid white;
  text-align: center;
  font-weight: bold;
  margin: 10px;
  }
  .obox{
    width:60%;
    text-align: center;
  }

  .fbox {
    width: 30%;
    height: 200px;
    align-content: center;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 10px;
    text-align: center;
    color: white;
  }

  .fcontainer {
    margin-top: 10px;
    padding: 10px;
    position: relative;
    left: 635px;
    background-color: lightgray;
    border-radius: 10px;
    height: 100px;
  }
  fsbox {
    width: auto;
    height: 100px;

  }